<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/dec2673d-aad3-4ed3-8047-10fb7446f5bc/v3/index.json" />
  </packageSources>
</configuration>